{% load static %}

<!--Seccion FOOTER-->
<footer class="text-center" style="margin-top:20px; color:rgb(0, 0, 0); background-color: rgb(22, 153, 92)">
    <!-- Grid container -->
    <div class="container p-4 pb-3 " >
        <!-- Section: Social media -->
        <section>
            <!-- Linkedin -->
            <a class="btn  btn-floating m-2" href="https://www.linkedin.com/in/cantarini-maria-sol/" role="button"
                style="border-radius:50%" target="_blank">
                <i class="fab fa-linkedin-in" style="color:rgb(0, 0, 0)"></i>
            </a>

            <!-- Github -->
            <a class="btn  btn-floating m-2" href="https://github.com/cantariniSol" role="button" style="border-radius:50%"
                target="_blank">
                <i class="fab fa-github" style="color: rgb(0, 0, 0)"></i>
            </a>
            
            <!-- Gmail -->
            <a class="btn btn-floating m-2" href="#cantarinisol@gmail.com" role="button" style="border-radius:50%"
                target="_blank">
                <i class="fab fa-google" style="color:rgb(0, 0, 0)"></i>
            </a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(21, 126, 77)">
        © 2022 Copyright: Sol Cantarini
    </div>
    <!-- Copyright -->
</footer>